@import 'tailwindcss';

@theme {
    --color-grey-very-dark: rgb(18, 18, 19);
    --color-grey-mid: rgb(58, 58, 60);
    --color-grey-light: rgb(129, 131, 132);
    --color-grey-very-light: rgb(149, 151, 152);
    --color-pink-bright: rgb(219, 19, 122);
}

@theme {
    --standard-fonts:
        'Libre Franklin', Arial, sans-serif;
    --title-fonts: 'Sanchez', 'Times New Roman', serif;
}

@theme {
    --animate-throb: throb 100ms linear;
    --animate-shake: shake 150ms ease-in-out;
    --animate-fade-out: fade-out 500ms linear 1500ms;
    --animate-jump: jump 500ms ease-in-out;
    --animate-jump-quick: jump-quick 150ms ease-in-out;

    @keyframes throb {

        0%,
        100% {
            transform: scale(100%, 100%);
        }

        50% {
            transform: scale(95%, 95%);
        }
    }

    @keyframes shake {

        0%,
        100% {
            transform: translateX(0);
        }

        25% {
            transform: translateX(-2%);
        }

        75% {
            transform: translateX(2%);
        }
    }

    @keyframes fade-out {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes jump {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-2%);
        }
    }

    @keyframes jump-quick {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-15%);
        }
    }
}