@import "tailwindcss";

@theme {
  --color-dark-bg: rgb(18,18,19);
  --color-inactive-border: rgb(58,58,60);
  --color-button-bg: rgb(129,131,132);
}

@theme {
  --use-font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}